<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.core.mapper.FormMapper">

    <insert id="insert">
        insert into form_config ( user_id, config, form_id , del_flag)
        VALUES (#{userId},#{config}, #{formId} ,#{delFlag})
    </insert>

    <insert id="insertForm" parameterType="com.gsxy.core.pojo.FormNew" useGeneratedKeys="true" keyProperty="id">
        insert into
            form
            (user_id, name)
        VALUES
            (#{userId},#{name})
    </insert>

    <update id="deleteById">
        update form_config
        set del_flag = 1
        where id = #{id}
    </update>

    <update id="update">
        update form_config
        set config = #{config}
        where id = #{id}
    </update>

    <update id="formDelete">
        update
        form
        set del_flag = 1
        where id = #{id}
        limit 1
    </update>

    <update id="formUpdate">
        update
        form
        set
            name = #{name}
        where
            id = #{id}
        limit 1
    </update>

    <select id="selectById" resultType="com.gsxy.core.pojo.Form">
        select id,user_id,config,del_flag from form_config where id = #{id}
    </select>

    <select id="page" resultType="com.gsxy.core.pojo.Form">
        select id,user_id,config,del_flag from form_config
        where user_id = #{userId} and del_flag = 0
        limit #{index},#{pageSize}
    </select>

    <select id="selectAll" resultType="com.gsxy.core.pojo.Form">
        select id,user_id,config,del_flag from form_config
        limit #{index},#{pageSize}
    </select>

    <select id="formByPageLike" resultType="com.gsxy.core.pojo.FormNew">
    select
        *
    from
        form
    <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%') and
            </if>
            user_id = #{userId}
        and
            del_flag = 0
    </where>
    limit
        #{page},#{limit}
    </select>

    <select id="formByPageLikeCount" resultType="java.lang.Long">
        select
        count(*)
        from
        form
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%') and
            </if>
            user_id = #{userId}
            and
            del_flag = 0
        </where>
    </select>


</mapper>
